<footer>
    <p>Site built by the <a href="http://github.com/ducksoupdev/gulp-site-generator">Gulp site generator</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<script type="text/javascript" src="{{resolve "/js/combined.min.js"}}"></script>

</body>
</html>
